body{
    background-image:URL('https://vignette.wikia.nocookie.net/friends/images/9/94/Central_Perk.jpg/revision/latest?cb=20130105161326');
    background-size: cover;
}

h2, h3, h4{
    color: white;
}
.survey-body{
    background-color: #07A0E8;
    border: 5px solid #F8A405;
}

.jumbotron{
    opacity:.9;
}

.q{
    color: black
}

#submit{
    background-color: #F8A405;
}

